/*-- scss:defaults --*/

// colors
$teal: #62949d;
$maroon: #8E7186;
$green: #629D89;
$royalblue: #4351BC;
$purple: #7243BC;
$blue: #438DBC;
$lightpink: #ead3df;
// Base document colors
$navbar-bg: $teal; // navbar
$navbar-fg: $royalblue; // navbar foreground elements
$navbar-hl: $green; // highlight color when hovering over navbar links
$body-bg: $lightpink; // page background 
$body-color: $royalblue; // page text 
$footer-bg: $blue; // footer 
$link-color: $teal; // hyperlinks 