/*-- scss:defaults --*/

// colors
$teal: #62949d;
$maroon: #8E7186;
$green: #629D89;
$royalblue: #4351BC;
$purple: #7243BC;
$blue: #438DBC;
$White: #F0FFFF;
$black: #000000;
// Base document colors
$navbar-bg: $teal; // navbar
$navbar-fg: $White; // navbar foreground elements
$navbar-hl: $green; // highlight color when hovering over navbar links
$body-bg: $White; // page background 
$body-color: $black; // page text 
$footer-bg: $teal; // footer 
$link-color: $teal; // hyperlinks 